body {
    width: 1500px;
    height: 800px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;   
   background-image: url("Pics/stars2.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}



#first {
    width: 1000px;
    height: 400px;
   display: flex;
   margin-left: auto;
   margin-right: auto;
   position: fixed;
    left: 500px;
    top: 200px;
    margin: 0;
    padding: 0;

}

.transparent {
    position: fixed;
    width: 1000px;
    height: 110px;
    background-color: black;
    opacity: 50%;
    left: 500px;
    top: 490px;
}

#left {
    width: 100px;
    height: 400px;
    background-color: silver;
    position: fixed;
    left: 400px;
    top: 200px;
    box-shadow: 2px 2px 20px 3px black;
    border-radius: 10px 0px 0px 10px;
}

#right {
    width: 100px;
    height: 400px;
    background-color: silver;
    position: fixed;
    right: 320px;
    top: 200px;
    box-shadow: 0px 0px 20px 3px black;
    border-radius: 0px 10px 10px 0px;
}

.left-a {
    height: 30px;
    width: 30px;
    position: relative;
    top: 180px;
    left: 35px;
    cursor: pointer;
}

.right-a {
    height: 30px;
    width: 30px;
    position: relative;
    top: 180px;
    left: 35px;
    cursor: pointer;
}


.jobb {
    width: 30px;
    transform: rotate(0.5turn);
}

.bal {
    width: 30px;
  
}


#title {
    color: white;
    line-height: 40px;
   margin: 10px;
    font-style: italic;
}

#desc {
    color: white;
    margin: 10px;
}

#thumb {
    display: flex;
    width: 1000px;
    height: 100px;
    position: fixed;
    top: 630px;
    left: 500px;
    justify-content: space-evenly;
}

.thumbnails {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: solid black 3px;
    box-shadow: 0px 0px 20px 2px;
}

.thumbnails:hover {
  border-color: white;  
};